.tv-select-wrapper
    position relative
    font-size 13px
    height 4em

    input
        box-sizing border-box
        padding 10px
        font-size 1.2em
        width 100%
        height 100%
        cursor pointer

    svg
        position absolute
        height 2em
        width 2em
        top 1em
        right 1em

    ul  
        position absolute
        cursor pointer
        background-color white
        left 0
        right 0
        top 0
        padding 10px
        margin 0
        border 1px solid black
        list-style none
        list-style-type none
        visibility hidden

        &.-open
            visibility visible

        li + li
            margin-top 10px
     

